{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "FireFox <= 52",
            "Explorer 10"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "dynamic-import-node",
    "transform-object-rest-spread"
  ]
}
